/* -------------------------------------
+++++++++++ Google Fonts ++++++++++++++
-------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* -------------------------------------
+++++++++++ Common Styles ++++++++++++++
-------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
.fix{
    overflow: hidden;
}
.container{
    width: 100%;
}

/* -------------------------------------
+++++++++++ Header Style ++++++++++++++
-------------------------------------- */

/* Nav Menu style */
nav{
    margin-top: 42px;
    position: relative;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 0px 124px 0px 156px;
}
.nav-list-item{
    display: flex;
}
.nav-list-item li{
    list-style: none;
    padding-right: 30px;
}
.nav-list-item li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;

}
.nav-list-item li:hover a{
    color: coral;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
/* Login Button Style */
.login-btn{
    display: flex;
    align-items: center;
    padding: 10px 24px;
    background-color: #E02C6D;
    
}
.fa-sign-in-alt{
    color: #FFFFFF;
    padding-right: 10px;
}
.login-btn a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.login-btn:hover{
    background-color: #9888A5;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

/* -------------------------------------
+++++++++++ Header Style ++++++++++++++
-------------------------------------- */
